/*banner*/
		.banner{
			position: relative;
			width: 1349px;
			height: 516px;
			margin: 0 auto;
			overflow: hidden;
		}
		.banner>img{
			width: 140%;
			height: 516px;
			margin-left: -20%;
			position: absolute;
			opacity: 0;
			transition: all .5s;
		}
		.banner>img:first-child{
			opacity: 1;
		}
		.banner>div:nth-child(7){
			position: absolute;
			width: 118px;
			display: flex;
			justify-content: space-between;
			z-index: 10;
			top: 486px;
			left: calc(50% - 59px)
		}
		.banner>div:nth-child(7)>a{
			width: 12px;
			height: 12px;
			background: #999;
			border-radius: 50%;
		}
		.banner>div:nth-child(7)>a:first-child{
			background: #1cbdc5;
		}
		.banner>div:last-child{
			width: 95%;
			position: absolute;
			z-index: 10;
			display: flex;
			justify-content: space-between;
			top: 200px;
			left: 2.5%;
		}
		.banner>div:last-child>a{
			height: 68.5px;
			width: 68px;
			overflow: hidden;
			display: none;
		}
		.banner>div:last-child>a:last-child>img{
			margin-left: -68px;
		}
		.banner>div:last-child>a{
			font-size: 50px;
		}
		.banner>div:last-child>a>img:hover{
			margin-top: -68px;
		}
/**/
.arrow {
            position: absolute;
            top: 180px;
            z-index: 22;
            display: none;
            width: 40px;
            height: 40px;
            font-size: 36px;
            font-weight: bold;
            line-height: 39px;
            text-align: center;
            color: #fff;
            background-color: RGBA(0, 0, 0, .3);
            cursor: pointer;
        }
        
        .arrow:hover {
            background-color: RGBA(0, 0, 0, .7);
        }
        
        #container:hover .arrow {
            display: block;
        }
        #next{
        	left: 96%;
        }
/**/
.section{
	width: 100%;
	background-color: #f6f6f6;
}
.section1{
	color: #999;
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding-top: 65px;
  margin-bottom: 35px;
}
.section-1{
	width: 82%;
	margin: 0 auto;
}
.section-1 img{
	cursor:pointer; 
}
.section-1 span{
	cursor:pointer; 
}
.section-2,.section-10,.section-17,.section-22,.section-35{
	display: flex;
  justify-content: space-between;	
  position: relative;
}
.section-4,.section-5,.section-6,.section-7,.section-14,.section-15,.section-16{
	position: absolute;
	left: 2%;
	top: 86%;
	color: #78d6df;
	line-height: 54px;
	padding: 0px 26px;
	background-color: #fff;
	box-shadow: 10px 10px 4px #ddd;
}

.section-5{
	left: 28%;
}
.section-6{
	left: 55%;
}
.section-7{
	left: 81%;
}
.section2{
	color: #999;
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding-top: 65px;
  margin-bottom: 35px;
}
.section-15{
left: 35%;
padding: 0px 140px;
}
.section-16{
	left: 80%;
}
.section-17{
	margin-top: 6%;
}
.section-84{
	color: #78d6df;
	position: absolute;
	left: 0%;
	top: 86%;
	background-color: #fff;
	line-height: 54px;
	padding-left: 1%;
	padding-right: 1%;
	box-shadow: 10px 10px 4px #ddd;
}
.section-82{
	left: 32%;
}
.section-80{
	left: 58%;
}
.section-78{
	left: 84%;
}
.section-74{
	left: 28%;
}
.section-68{
	left: 28%;
	padding: 0 1%;
}
.section-66{
	left: 54%;
}
.section-62{
	left:8%;
}
.section-60{
	left:40%;
	padding: 0 4%;
}
/**/
.section-30{
	margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}
.section-30 p{
	font-size: 32px;
	color: #999;
}
.section-31{
	padding-top: 1%;
	padding-bottom: 1%;
	width: 10%;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
  justify-content: center;
  align-items: center; 
}
.section-31 img{
	margin-left: 1%;
}
/**/
.guild{
	width: 100%;
	margin: 0 auto;
	margin-top: 4%;
	background-color: #f6f6f6;
}
.guild img:hover{
	border:2px solid #000;
	/*background-color: #000;*/
}
.guild1,.guild2,.guild3{
	display: flex;
  justify-content: center;
  align-items: center; 
}
/**/

.status{
	position: relative;
}
.status-0{
	padding-bottom: 6%;
	margin-top: 4%;
}
.status span{
	color: #78d6df;
	position: absolute;
	left: 0%;
	top: 86%;
	background-color: #fff;
	line-height: 54px;
	padding-left: 1%;
	padding-right: 1%;
	box-shadow: 10px 10px 4px #ddd;
}
.status{
	width: 82%;
	margin: 0 auto;
	display: flex;
  justify-content: space-between;
}
.status-1 img{
	width: 100%;
}
.status-11 img{
	width: 70%;
}
.status-12{
	margin-left: 10%;
	display: flex;
  justify-content: center;
}
.status-12>div{
	width: 40%;
}
.status-5 img{
	width: 57%;
}
.status-13{
	margin-top: 10%;
}
.status .status-10{
	left: 68%;
}
.status .status-8{
	left: 43%;
}
.status .status-6{
	left: 65%;
	top: 27%;
}
.status .status-4{
	left: 42%;
	top: 27%;
}
.status .status-2{
	left: 4%;
}
.status-1:hover,.status-3:hover,.status-5:hover,.status-7:hover,.status-24:hover,.status-25:hover,.status-26:hover{
	cursor:pointer;
}
.section4{
	background-color: #fff;
}
.status-20{
	background-color: #fff;
	width: 82%;
	margin: 0 auto;
}
.status-21{
	left: 6%;
}
.status-22{
	left: 42%;
	padding: 0 40px;
}
.status-23{
	left: 76%;
}
/**/
.foot{
	width: 100%;
	background-color: #fff;
}
.foot-1{
	width: 82%;
	margin: 0 auto;
}
.foot-2,.foot-3,.foot-4{
	height: 20%;
  justify-content: space-between;
}
.foot-2 img,.foot-3 img,.foot-4 img{
	width: 16%;
}
.foot-3,.foot-4{
	margin-top: 2%;
}
/**/
.void{
	width: 100%;
	background-color: #f6f6f6;
	position: relative;
	padding-bottom: 2%;
}
.void-1{
	padding-top: 10%;
	width: 82%;
	margin: 0 auto;
	display: flex;
}
.void span{
	display: flex;
	cursor:pointer;
}
.void-5{
	font-size: 20px;
	color: #06c7d3;
	padding-bottom: 20%;
}
.void-3,.void-4{
	margin-left: 15%;
}
.void-6,.void-7{
	float: left;
}
.void-6 span{
	margin-top: 17%;
	margin-left: 20%;
}
.void-6 .void-8{
	margin-top: 0;
}
.void-9{
	position: absolute;
	left: 52%;
	top: 40%;
	display: none;
}
.void-11{
	margin-left: 13%;
}
/**/
.content{
	width: 100%;
	background-color: #07c7d3;
	color: #fff;
}
.content1{
	width: 82%;
	margin: 0 auto;
}
.content2{
	padding-top: 4%;
	font-size: 30px;
	display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.content3{
	font-size: 10px;
	margin-top: 8%;
	display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.content3 span{
	margin-left: 6px;
}
.content4{
	cursor:pointer;
	font-size: 10px;
	margin-top: 2%;
	display: flex;
  justify-content: center;
  align-items: center;
}
/*定位*/
.ding{
	z-index: 999;
	position: fixed;
	left: 92%;
	top: 70%;
	cursor:pointer;
}
.ding2{
	position: absolute;
	/*left: 1%;*/
	top: 150%;
}
.ding3{
	display: none;
	position: fixed;
	left: 68%;
	top: 50%;
}